body{
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
    font-family: sans-serif;
}

footer{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
}

footer .audio{
    height: 60px;
    width: 60px;
    background-color: rgb(129, 221, 76);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.micPic{
    height: 50%;
}

footer .message{
    height: 60px;
    width: 70%;
    border-radius: 50px;
    background-color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    padding-left: 30px;
}

header{
    height: 70px;
    display: flex;
    gap: 20px;
}

img{
    height: 55%;
    margin: auto;
}

.pfp{
    border-radius: 50%;
}

.goBackArrow{
    height: 40%;
}
header .box{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
}

h2{
    color: gray;
}

main{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.deleMensagem{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(83, 83, 83, 0.404);
    margin-right: auto;
    max-width: 80%;
}

.suaMensagem {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(90, 150, 0);
    margin-left: auto;
    max-width: 80%;
}

.suaMensagemAside {
    display: flex;
    gap: 10px;
    flex-direction: column;
}


.suaMensagem >p{
    color: white;
}

.deleMensagem>p{
    color: white;
}